/* ---------- FUNDO PRINCIPAL ---------- */

[data-testid="stAppViewContainer"]{

    background-color: #000000;  
    color: rgb(255, 255, 255);
}

/* ---------- SIDEBAR ---------- */

[data-testid="stSidebar"]{
    background-color: #111418;
}

[data-testid="stSidebar"] *{
    color: white;
}

/* ---------- TITULOS ---------- */

h1, h2, h3, h4 {
    color: rgb(255, 249, 249);
    font-weight: 600;
}

/* ---------- CARDS DE MÉTRICAS ---------- */

.metric-card{
    background: #1c1f26;
    padding: 25px;
    border-radius: 14px;
    border: 1px solid #2a2d34;
    box-shadow: 0 6px 14px rgba(0,0,0,0.4);
}

.metric-title{
    font-size: 14px;
    color: #9aa0a6;
}

.metric-value{
    font-size: 32px;
    font-weight: bold;
    margin-top: 5px;
}

/* ---------- INPUTS ---------- */

input, textarea{
    background-color:#1c1f26 !important;
    color:white !important;
    border-radius:8px !important;
}

/* ---------- BOTÕES ---------- */

button[kind="primary"]{
    background-color:#4f8bf9 !important;
    border-radius:10px;
    border:none;
}

button[kind="primary"]:hover{
    background-color:#3b6ed6 !important;
}

/* ---------- TABELAS ---------- */

[data-testid="stDataFrame"]{
    background-color:#1c1f26;
    border-radius:12px;
}

/* ---------- ALERTA ---------- */

.stAlert{
    border-radius:10px;
}

/* ---------- SCROLLBAR ---------- */

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-track{
    background:#0E1117;
}

::-webkit-scrollbar-thumb{
    background:#2a2d34;
    border-radius:10px;
}




div.stButton > button {
    height:55px;
    font-size:18px;
    border-radius:10px;
}

[data-testid="stAppViewContainer"]{
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
}




/* fundo */
[data-testid="stAppViewContainer"]{
    background: linear-gradient(135deg,#000000,#9d9d9d,#ffffff);
}

/* card login */
.login-card{
    background:white;
    padding:40px;
    border-radius:12px;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

/* botões */
div.stButton > button{
    height:50px;
    border-radius:10px;
    font-size:16px;
}

/* título */
.login-title{
    text-align:center;
    font-size:28px;
    font-weight:bold;
    margin-bottom:20px;
}


/* ---------- CARD LOGIN CENTRAL ---------- */

.auth-card{
    background: white;
    padding: 40px;
    border-radius: 14px;
    max-width: 420px;
    margin: auto;
    margin-top: 80px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.auth-title{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
    color: black;
}

.auth-link{
    text-align:center;
    margin-top:15px;
}